@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
  padding-top: 105px;
  overflow-x: hidden; 
  font-family: 'Jua', sans-serif;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: rgb(252, 252, 252);
}

p{
  font-family: 'Nanum Gothic', sans-serif;
}

b{
  font-family: 'Nanum Gothic', sans-serif;
}

img{
  -webkit-user-drag: none;
}